
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="home-intro" class="row">
        <div class="container col-11">
            <h1 id="home-info-header" class="text-left"><b>Hello, my name is </b><b class="text-danger">Kalkidan Vassar</b></h1>
            <pre class="text-wrap" id="tag-line">    I am achiving my goal of being a software engineer one line of code at a time.</pre>
        </div>
        
    </div>
</div>

<div classclass="row">
    <div class="col-12">
        <div id="scroll-arrow">
            <span class="glyphicon glyphicon-arrow-down "></span>
        </div>
    </div>
 
</div>

<div id="single-item" class="container row">
    <div class="col-1">

    </div>
    <div class="col-10 panel">
        <div class="panel-body ">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#intro">About Me</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#employment">Employment</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="tab" href="#heartland">Heartland</a>
                        <a class="dropdown-item" data-toggle="tab" href="#marcus">Marcus</a>
                    </div>
                </li>

                <li class="nav-item dropdowm">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#activein">Active In</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="tab" href="#studentcouncil">Student Council</a>
                        <a class="dropdown-item" data-toggle="tab" href="#chazzo">Chazoo</a>
                        <a class="dropdown-item" data-toggle="tab" href="#sparkcrew">Spark Crew</a>
                        <a class="dropdown-item" data-toggle="tab" href="#cyberstart">Cyberstart</a>
                    </div>
                </li>
            </ul>

            <div class="tab-content text-wrap ">
                <div id="intro" class="tab-pane fade in active">
                    <p>
                        Hi, originally born in Ethiopia a was adopted at an early age and grew up in the United States of America.
                        My love of technology has guided me and led me to where I am today. I always wanted to help in the creation of new and exciting technologies, and I can do this through the development of impactful and robust software.
                    </p>
                    <p>Somethings to know about me include:</p>
                    <dl>
                        <dd>- I like to read in my spare time.</dd>
                        <dd>- I am always looking to learn new things.</dd>
                        <dd>- I enjoy playing soccer.</dd>
                    </dl>
                </div>
               
                <div id="heartland" class="tab-pane fade ">
                    <h1>Heartland Business Systems</h1>
                    <p>Heartland, the start of my professional devolpment, is an experiance that I will look back opon with shock when I reflecton the fact... </p>
                </div>

                <div id="marcus" class="tab-pane fade">
                    <h1>Marcus Vally Grand Cinema</h1>
                    <p>Marcus was my first job and will always be viewed warmly.</p>
                </div>
         
                
                <div id="cyberstart" class="tab-pane fade">
                    <h1>Cyberstart America</h1>
                    <p>Cyberstart America is a cyber security devolpment resource where users act as if they are an agent in a cyber security organisation that thwarts bad actors...</p>
                </div>

                <div id="studentcouncil" class="tab-pane fade">
                    <h1>Student Counsel</h1>
                    <p>Eventually I want to be a lead my own team in this indistry in order to do this I have to gain leadership experience Student Council provides this...</p>
                </div>

                <div id="chazzo" class="tab-pane fade">
                    <h1>Chazzo Warriors</h1>
                    <p>Chazzo Warriors is a group that I participate in that helps in providing opertunities for middle schoolers to have fun activitys that also help to develop ther faith...</p>
                </div>

                <div id="sparkcrew" class="tab-pane fade">
                    <h1>Spark crew</h1>
                    <p>Spark Crew is a group that helps with middle school religion at my church. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1">

    </div>
</div>




