

@model DataEntities.UserMessage

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KalPortfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body class="home">
    <header>
        <a href="#home-link" class="skip">Skip navigation</a>
        <nav id="nav-in" class="navbar">
            <div class="container-fluid d-block ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="Index">K</a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav d-inline-block ">
                        <li class="active"><a href="#home-link" area-label="Go to the top of the home page">Home</a></li>
                        <li><a href="#contact-link" area-label="Go to the contacts section.">Contact</a></li>
                        <li><a href="#projects-link" area-label="Go to the projects section.">Projects</a></li>
                        <li><a href="#resume-link" aria-label="Go to resume section." >Resume</a></li>
                        <li><a href="/Table/Index">Tables</a></li>
                        <li><a href="/Login/Index">Login</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    
    <section id="home-link">
        <div class="container">
            <div id="home-intro" class="row">
                <div class="container col-11">
                    <h1 id="home-info-header" class="text-left display-4"><b>Hello, my name is </b><b class="text-danger">Kalkidan Vassar</b></h1>
                    <pre class="text-wrap lead" id="tag-line">    I am achieving my goal of being a software engineer one line of code at a time.</pre>
                </div>

            </div>
        </div>

        <div>
            <div id="scroll-arrow">
                <span class="glyphicon glyphicon-arrow-down "></span>
            </div>
        </div>

        <div class="container single-item">
            <div class="panel">
                <div class="panel-body ">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#intro">About Me</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#employment">Employment</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-toggle="tab" href="#heartland" area-label="Go to Heartland employment section.">Heartland</a>
                                <a class="dropdown-item" data-toggle="tab" href="#marcus" area-label="Go to the Marcus employment section.">Marcus</a>
                            </div>
                        </li>

                        <li class="nav-item dropdowm">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#activein">Active In</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-toggle="tab" href="#studentcouncil" area-label="Go to the student council involvement section">Student Council</a>
                                <a class="dropdown-item" data-toggle="tab" href="#chazzo" area-label="Go to the Chazoo involvement section">Chazoo</a>
                                <a class="dropdown-item" data-toggle="tab" href="#sparkcrew" area-label="Go to the Spark Crew involvement section">Spark Crew</a>
                                <a class="dropdown-item" data-toggle="tab" href="#cyberstart" area-label="Go to the Cyberstart America involvement section">Cyberstart</a>
                            </div>
                        </li>
                    </ul>

                    <div class="tab-content text-wrap ">
                        <div id="intro" class="tab-pane fade in active">
                            <h1>About Me</h1>
                            <p>
                                Hi, originally born in Ethiopia I was adopted at an early age and grew up in the United States of America.
                                My love of technology has guided me and led me to where I am today. I always wanted to help in the creation of new and exciting technologies, and I can do this by combining my love of technoligy with a passion for solving problems to create impactful software.
                            </p>
                            
                            <dl>
                                <dt>Somethings to know about me include:</dt>
                                <dd>- I like to read in my spare time.</dd>
                                <dd>- I am always looking to learn new things.</dd>
                                <dd>- I enjoy playing soccer.</dd>
                            </dl>
                        </div>

                        <div id="heartland" class="tab-pane fade ">
                            <h1>Heartland Business Systems</h1>
                            <p>
                                Heartland, the start of my professional development, is an experience that I will look back upon with shock when I reflect on how early I got involved in the industry.
                                At the age of 16 I am able to learn about current technologies and learn about even more than just technical skills.
                                I practice communication skills threw collaborations with coworkers to solve different problems.
                                I am able to learn about how to better interact with coworkers threw standups and mixer meetings.
                                The list goes on but the importance for my employment at Heartland was to experience what it would be like to work as a software engineer and ultimately if this is something I could do as a career.
                                Currently this is a very feasible career path for myself.
                            </p>
                        </div>

                        <div id="marcus" class="tab-pane fade">
                            <h1>Marcus Vally Grand Cinema</h1>
                            <p>
                                Marcus was my first job and will always be viewed warmly.
                                I got a job at the movie theater because my options where very scarce at 15 years old.
                                Even so this was a great choice. I was able to gain customer experience which ultimately means I learned how to resolve conflict and anticipate the needs of others.
                                I am know able to use what I learned to better understand the needs of employers and to go a step beyond what is asked of me.
                                I am also able to improve my leadership skills as a Shift Lead.
                                I am in charge of making sure that concessions is running smoothly.
                                Tasks include making sure that all items are stocked, customers conflicts get resolved efficiently and correctly, retrieve cash for drawers if necessary, and instruct coworkers on correct procedures among other tasks.


                            </p>
                        </div>


                        <div id="cyberstart" class="tab-pane fade">
                            <h1>Cyberstart America</h1>
                            <p>Cyberstart America is a cyber security devolpment resource where users act as if they are an agent in a cyber security organisation that thwarts bad actors. 
                                Threw the completion of challanges revolving around various aspects of cybersecurity I am able to learn more about the industry and have a some fun.
                                I earned one bronze badge for the 2021-2022 year and a bronze and silver badge for the 2022-2023 year.
                                This means that I earned over 30,000 points to ge the bronze bage and 50,000 for the silver.
                            </p>
                        </div>

                        <div id="studentcouncil" class="tab-pane fade">
                            <h1>Student Counsel</h1>
                            <p>
                                Eventually I want to be a lead my own development team and in order to do this I have to gain leadership experience. Student Council provides this.
                                As a member of Student Council I help to organize events that take place at my school.
                                From prom to penny wars to pep-rallies I help to make them run smoothly as possible adding valuable input where I can. Through my time in student council I have learned to present ideas in an attractive manner and have learned more about how to work on a team.

                            </p>
                        </div>

                        <div id="chazzo" class="tab-pane fade">
                            <h1>Chazzo Warriors</h1>
                            <p>
                                Chazzo Warriors is a group that I participate in that helps in providing opportunities for middle schoolers to have fun activities that develop their faith.
                                I lead by example and try to make what they come in thinking is a boring situation into one that they can enjoy and get something out of.
                                Participating in this club is a great way for me to manage stress and to help serve my community.

                            </p>
                        </div>

                        <div id="sparkcrew" class="tab-pane fade">
                            <h1>Spark crew</h1>
                            <p>Spark Crew is a group that meets every week and just hangs out. I am able to surround myself with good people that are there to support each other and to have fun.
                                We also do projects through out there such as a food drive, kitty pool kickball, and most members go on the yearly Catholic Heart Work Camp. We all travel to a different state and do service around the chosen community.
 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <section id="projects-link" class="projects-background">
        <div class="projects-display">
            <div class="single-item">
                
                <div>
                    <div class="col-12">
                        <h1 id="projects-title" class="display-4">About My <b class="text-danger">Projects</b></h1>
                    </div>
                    
                    <p class="lead col-8">
                        Currently my projects are all about learning. Through tutorials I can learn about new technologies and concepts in a more formal and organized manner.
                        After being able to learn about these technologies projects I create on my own can be used to explore what I learned in my own way, confirm my understanding of the technology, and gain experience with the given technology.
                        The following projects let me do what I just have stated and provide me not only with experience but a sense of pride when I am able to implement what I learned in a new way that I had not known how to previously.
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="~/images/matchinggame.png" alt="Image of matching game." class="img img-circle media-image"/>
                </div>
                <div class="media-body">
                    <div class="lead col-9">
                        <h1>Matching Game</h1>
                        <p>My first web form project was a not just a learning experience with windows forms but how to use Visual Studios IED and working with C#. 
                            I was able to work on using tables </p>
                    </div>
                    
                    <div class="project-resources">
                        <div>
                            
                        </div>

                        <div >
                            <hr class="thick" />
                        </div>

                        <div>
                            <p>Find source code here:
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                            </svg>
                            </p>
                        </div>
                    </div>                   
                </div>
            </div>

            <div class="media">
                <div class="media-body text-wrap">
                    
                    <div class="lead col-9">
                        <h1>Calculator</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="project-resources ">
                        <div>
                            
                        </div>

                        <div>
                            <hr class="thick"/>
                        </div>

                        <div>
                            <p>Find source code here:
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                            </svg>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="media-right">
                    <img src="~/images/calculator.png" alt="Image of calculator application" class="img img-circle media-image" />
                </div>
            </div>

            <div class="media">
                <div class="media-left">
                    <img src="~/images/loginForm.png" alt="Image of Login Form application" class="img img-circle media-image" />
                </div>
                <div class="media-body">
                    <div class="lead col-9">
                        <h1>Login Form</h1>
                        <p>My first web form project was a not just a learning experience with windows forms but how to use Visual Studios IED and working with C#...</p>
                    </div>

                    <div class="project-resources">
                        <div>
                            
                        </div>

                        <div>
                            <hr class="thick" />
                        </div>

                        <div>
                            <p>
                                Find source code here:
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="media">
                <div class="media-body text-wrap">

                    <div class="lead col-9">
                        <h1>Math Quize Game</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="project-resources ">
                        <div>
                            
                        </div>

                        <div>
                            <hr class="thick" />
                        </div>

                        <div>
                            <p>
                                Find source code here:
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="media-right">
                    <img src="~/images/mathQuiz.png" alt="Image of Math Quiz game." class="img img-circle media-image" />
                </div>
            </div>
            
        </div>

    </section>

    <section id="resume-link">
        
    </section>

    <section id="contact-link">
        <div class="contact-display">          
            <h1 class="display-4 "><b class="text-danger contact-me">Contact</b> Me</h1>
            <div class="row">
                <div class="col-6">
                    <form method="post"> 
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="message-input" id="first-name" name="FirstName" placeholder="First Name" pattern="^[a-zA-Z''-'\s]{2,40}$" required minlength="2" maxlength="40" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('This input must only be letters and have more than one letter!')" />
                            </div>

                            <div class="col-6">
                                <input type="text" id="last-name" class="message-input" name="LastName" placeholder="Last Name" pattern="^[a-zA-Z''-'\s]{2,40}$" required minlength="2" maxlength="40" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('This input must only be letters and have more than one letter!')" />
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="message-input" id="subject" name="Subject" placeholder="Subject" pattern="^[a-zA-Z''-'\s]{2,40}$" required minlength="2" maxlength="40" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('This input must only be letters and have more than one letter!')" />
                            </div>

                            <div class="col-6">
                                <input type="email" id="email" class="message-input" name="Email" placeholder="Email" />
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                                <textarea type="text" class="message-input" id="message" name="Message" placeholder="Message" required minlength="2" maxlength="600" pattern="^[a-zA-Z''-'\S]{2,600}$" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('This input must be greater than one character!')"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <input type="submit" class="message-input" id="submit-message" value="Submit" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-6">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="https://live.staticflickr.com/8529/8563111064_a91558e626_b.jpg" alt="Favorite food is pizza.">
                                <div class="carousel-caption">
                                    <h3>My Favorite Food is Pizza</h3>
                                    <p>I think a lot of people are on board with me on this one!</p>
                                </div>
                            </div>
                            
                            <div class="item">
                                <img src="https://th.bing.com/th/id/R.811ca17972b566be28ee7cd436097af5?rik=n%2bLGxYzQJp9yvg&pid=ImgRaw&r=0" alt="Vera Nazarian's Servive is my favorite book" />
                                <div class="carousel-caption">
                                    <h3>I Like to Read</h3>
                                    <p>My favorite book series is the Atlantis Grail series. </p>
                                </div>
                                
                            </div>

                            <div class="item">
                                <img class="img-fluid" src="https://3.bp.blogspot.com/-5p3D5TNqJec/XaeC7eEI2fI/AAAAAAABDbc/Ccq2-qTZcJMWE_QUU_oAeH1oBwRFj564QCLcBGAsYHQ/s1600/Study%2BShows%2BThat%2BTraveling%2BCan%2BMake%2BYou%2BHappier%2BThan%2BA%2BMarriage%2B2.jpg" alt="Vera Nazarian's Servive is my favorite book" />
                                <div class="carousel-caption">
                                    <h3>I love to travel</h3>
                                    <p>When I become finatualy independent I hope to travel to diffrent countries.</p>
                                </div>
                                
                            </div>
                            
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
        
    </section>
            
    
    <footer>
        <div class="search-form">
            <div class="row">
                <div class="col-6">
                    <div>
                        <p>&copy; @DateTime.Now.Year - My Portfolio</p>
                    </div>
                </div>

                <div class="col-6">
                    <div>
                        <p id="find-me">Find Me On:</p>

                        <a href="https://github.com/kvassar" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div> 
        </div>        
    </footer>
    

    
   
</body>
</html>






