@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    </head>
    <body>
    <div class="text-center">
        <h1>Welcome to everything Bootstrap</h1>
        <p>This is a little guide to some of the things you can do with Bootstrap.</p>
    </div>
    <div>
        <div class="text-center">
            <h2>Grid System</h2>
            <div> 
               <div class="col-lg-3">Marvel is better than DC.</div>
               <div class="col-lg-3">Cats are cute but rude.</div>
               <div class="col-lg-3">Traveling is fun.</div>
               <div class="col-lg-3">These are all very true statments!</div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <h2>Tables</h2>
        <div class="col-lg-12">
            <table class=" table table-boardered">
                <tr>
                    <th>Who</th>
                    <th>What</th>
                    <th>Where</th>
                    <th>When</th>
                </tr>
                <tr>
                    <td>Bella</td>
                    <td>Rapper</td>
                    <td>Vancouver</td>
                    <td>All Year</td>
                </tr>
                <tr>
                    <td>David</td>
                    <td>Broker</td>
                    <td>San Francisco</td>
                    <td>Year Round</td>
                </tr>
                <tr>
                    <td>Kate</td>
                    <td>Student</td>
                    <td>Michigan Tech</td>
                    <td>September-june</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="text-center">
        <h2>Images</h2>
        <div class="col-sm-4">
            <img src="https://th.bing.com/th/id/OIP.sbIZ4hHZYNUjdbS__8rL_QHaE8?w=277&h=185&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="img-thumbnail img-responsive" alt="Vancover"/>
        </div>
        <div class="col-sm-4">
            <img src="https://th.bing.com/th/id/OIP.g2bSGs9-Ucl5F9pIL5duRQHaFh?w=236&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="img-circle" alt="San Francisco" />
        </div>
        <div class="col-sm-4">
            <img src="https://th.bing.com/th/id/OIP.ZDfGF6Xg8aXGXHvIidDA2QHaE7?w=241&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="img-rounded" alt="Michigan Tech Campus"/>
        </div>
    </div>
    <div class="text-center">
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-body">
                <p class="thumbnail">Vancouver (/vænˈkuːvər/ (listen) van-KOO-vər) is a major city in western Canada, located in the Lower Mainland region of British Columbia. As the most populous city in the province, the 2021 census recorded 662,248 people in the city, up from 631,486 in 2016. The Greater Vancouver area had a population of 
                    2.6 million in 2021, making it the third-largest metropolitan area in Canada. Greater Vancouver, along with the Fraser Valley, comprises the Lower Mainland with a regional population of over 3 million. Vancouver has the highest population density in Canada, with over 5,700 people per square kilometre,[6]
                    and fourth highest in North America (after New York City, San Francisco, and Mexico City).</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>San Francisco</h3>
                </div>
                <div class="panel-body">
                    <p class="thumbnail">
                        San Francisco (/ˌsæn frənˈsɪskoʊ/; Spanish for "Saint Francis"), officially the City and County of San Francisco, is the commercial, financial, and cultural center of Northern California. The city proper is the fourth most populous in California and 17th most populous in the United States, with 815,201 residents as of 2021.
                        [20] It covers a land area of 46.9 square miles (121 square kilometers),[21] at the end of the San Francisco Peninsula, making it the second most densely populated large U.S. city after New York City, and the fifth most densely populated U.S. county, behind only four of the five 
                        New York City boroughs. Among the 331 U.S. cities proper with more than 100,000 residents, San Francisco was ranked first by per capita income (at $133,856[22]) and fifth by aggregate income as of 2019.[23] Colloquial nicknames for San Francisco include SF, San Fran, The City, Frisco, and Baghdad by the Bay.[24][25][26]
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-body">
                    <p class="thumbnail">
                        Michigan Tech is one of the eight research universities in the State of Michigan and is classified among "R2: Doctoral Universities – High research activity".[6] There are 12 research areas including Space Sciences, Electronics, Ecosystems, Energy, Health, Ocean Sciences, and Robotics. There are 18 research centers on 
                        and off campus including the Michigan Tech Research Institute.[7][8] The university is governed by an eight-member board of trustees whose members are appointed by the governor of Michigan and confirmed by the Michigan Senate.[9][10]
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>