/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Home styling*/

.depth {
    position: absolute;
    background-color: black;
    border-radius: 20px;
    margin-top: 4vh;
    margin-left: 12vw;
    height: 80vh;
    width: 80vw;
    z-index: 0;
}

.focus {
    position: relative;
    background-color: #2099cd;
    border-radius: 20px;
    padding: 5% 5% 5% 5%;
    margin-top: 10vh;
    margin-left: 10vw;
    height: 80vh;
    width: 80vw;
    border: 1px solid black;
}

.bottom-line {
    position: absolute;
    width: 100vw;
    height: 2vh;
    background: linear-gradient(90deg, rgba(0,196,255,1) 0%, rgba(0,167,204,1) 13%, rgba(7,68,148,1) 67%, rgba(15,122,193,1) 94%);
    z-index: 1;
    bottom: 25vh;
}

@keyframes pop {
    from {
        transform: translate(0,0);
    }

    to {
        transform: translate(20px, -20px);
    }
}


.header {
    height: 100px
}

.thick {
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid red;
    margin: 1em 0;
    padding: 0;
    width: 20rem;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(165,0,33,0.4);
    z-index: 2;
    display: none
}

.star {
    background: transparent;
    border: 0;
    
}

.close {
    background: transparent;
    border: 0;
}


.csa-badge {
    width: 60%;
    height: 100%;
}

.rate-site-submit {
    color: white;
    border: solid white 2px;
    border-radius: 10px;
    width: 50%;
}
.rate-site-submit:hover {
    color: white;
    border: solid white 2px;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 50%;
}

.rate-tease-text {
    font-size: 1.3em;
}

.rate-tease-reveal {
    animation-name: rate-tease-reveal;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes rate-tease-reveal {
    from {
        left: -100vw;
        top: 94vh;
        display: none;
    }

    to {
        left: 0vw;
        top: 94vh;
        display: block;
    }
}

.details-heading {
    height: 15%;
    width: 100%;
}

.search-message {
    background-color: black;
    color: white;
    border: 1px solid red;
    height: 5vh;
}

#user-info {
    position: sticky;
    height: 40vh;
    min-width: 100%;
    background-color: black;
    border: red solid 1px;
}

.message-detail {
    position: absolute;
    width: 90%;
    bottom: 10%;
}


.admin-message-table {
    border: 1px solid red;
    background-color: transparent;
    color: white;
}

.message-input {
    height: 5vh;
    width: 100%;
    background-color: black;
    color: white;
    border: 1px solid red;
    margin-block: 5px;
}

#message {
    border-color: red;
    background-color: black;
    height: 100%;
    width: 100%;
}

#submit-message {
    width: 100%;
    height: 5vh;
    border: solid 1px red;
    background-color: transparent;
    color: red;
}

    #submit-message:hover {
        background-color: red;
        color: black;
    }

@media screen and (max-width: 1200px) {

    #about-me-carousel {
        display: none;
    }
}

.project-quick-look {
    width: 100%;
    min-height: 42vh;
    background-color: #a50021;
    border-radius: 10px;
    opacity: .8;
}

.project-quick-look-hidden {
    width: 100%;
    min-height: 42vh;
    background-color: #a50021;
    border-radius: 10px;
    opacity: .3;
    color: black;
}

.text-overflow {
    max-width: 10vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media screen and (min-width: 1200px) {
    .project-img {
        width: 40vw;
        height: 40vh;
        background-image: url('../images/website.png');
        background-size: cover;
        margin: 0 0 0 5vw;
    }
}

.website-description {
    margin: 0;
    background-color: #a50021;
    border-radius: 10px;
}

.website-tech {
    font-size: .6rem;
}

.projects {
    min-height: 50vh;
}

.large-project-discription {
    position: absolute;
}

@media screen and (max-width: 800px) {
    .large-project-discription {
        position: inherit;
    }
}

.project-discription {
    width: 30vw;
    height: 12vh;
    background-color: #a50021;
    margin: 10vh 0 0 35vw;
    border-radius: 10px;
}

@media screen and (max-width: 1400px) {
    .website-tech {
        display: none;
    }
}

.project-technologies {
    width: 30vw;
    height: 2vh;
}

.project-header {
    height: 10vh;
    width: 65vw;
}

.project-links {
    height: 5vh;
    width: 65vw;
    margin: 27vh 0 0 0;
}

#projects-link {
    margin-bottom: 20vh
}

    .project-quick-look-hidden p {
        color: black;
    }

    .project-quick-look:hover {
        opacity: 1;
        box-shadow: inset 1px 0em 3em rgba(0, 0, 0, 0.1), 0px 2px 20px 0px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }

.project-hr {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 5%;
}

#contact-link {
    margin-bottom: 5vh;
}

/*Admin styling*/

a:hover {
    color: white;
    text-decoration: none;
}

.admin-logout {
    margin-left: 90vw;
    width: 5%;
    border: solid red 2px;
    border-radius: 10px;
    text-align: center;
}

    .admin-logout:hover {
        background-color: red;
        color: black;
    }

form.admin-logout-form {
    text-align: center;
}

#admin-logout-btn {
    background: transparent;
    border: 0;
    color: white;
    font-size: 1rem;
    padding: 15%;
    border-radius: 10px;
}

.site-logo {
    font-size: 2rem;
    margin-left: calc(50% - 3rem);
}

    .site-logo:hover {
        text-decoration: none;
    }


@keyframes link-hover {
    0% {
        color: red;
    }

    50% {
        color: white;
        font-weight: 600;
    }

    100% {
        color: red;
    }
}

.search-input {
    width: 50vw;
    margin-left: 40vw;
    margin-bottom: 5vh
}

#search-for-message {
    background-color: black;
    color: white;
    border: 1px solid red;
    height: 5vh;
}

.mail-to:hover {
    color: red;
    text-decoration: none;
}

.message-editing {
    width: 80vw;
    margin-bottom: 5vh;
    margin-left: 10vw;
}

.details-hr {
    border: red solid 2px;
}
