 Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. 

Home styling

.depth {
    position: absolute;
    background-color: black;
    border-radius: 20px;
    margin-top: 4vh;
    margin-left: 12vw;
    height: 80vh;
    width: 80vw;
    z-index: 0;
}

.focus {
    position: relative;
    background-color: #2099cd;
    border-radius: 20px;
    padding: 5% 5% 5% 5%;
    margin-top: 10vh;
    margin-left: 10vw;
    height: 80vh;
    width: 80vw;
    border: 1px solid black;
}

.bottom-line {
    position: absolute;
    width: 100vw;
    height: 2vh;
    background: linear-gradient(90deg, rgba(0,196,255,1) 0%, rgba(0,167,204,1) 13%, rgba(7,68,148,1) 67%, rgba(15,122,193,1) 94%);
    z-index: 1;
    bottom: 25vh;
}

@keyframes pop {
    from {
        transform: translate(0,0);
    }

    to {
        transform: translate(20px, -20px);
    }
}


.header {
    height: 100px
}

.thick {
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid red;
    margin: 1em 0;
    padding: 0;
    width: 20rem;
}

.vertical-line {
    height: 10vh;
    border: 1px solid white;
    margin-left: 100vw;
    display: absolute;
    z-index: -1;
    position: fixed;
    display: none
}

@media screen and (min-width: 1675px) {
    .line-left {
        animation: 2s forwards vertical-line, 2s cubic-bezier(0.85, 0.1, 0.99, 0.94) forwards make-line-longer;
        display: block;
    }
}


@keyframes vertical-line {

    100% {
        margin-top: 13vh;
        transform: translateX(calc(34vw - 2px));
        margin-left: 43vw;
    }
}

@keyframes make-line-longer {
    100% {
        height: 36vh;
    }
}

#linkedIn-link {
    margin-top: 5vh;
}

@media screen and (min-width: 1675px) {
    .links-animate {
        animation-name: find-me-links-reveal;
        animation-fill-mode: forwards;
        animation-duration: 2s;
        display: block;
    }
}


@keyframes find-me-links-reveal {
    to {
        transform: translateX(45vw);
        margin-left: 31vw;
    }
}

.find-me {
    position: absolute;
    z-index: 0;
    margin-left: -100vw;
    animation: find-me-in 3s cubic-bezier(0.59, 0.13, 0.29, 1) forwards;
}

@media screen and (min-width: 1675px) {
    .find-me-animate {
        margin-left: 0;
        animation-name: find-me;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes find-me {
    to {
        transform: translateX(-32vw);
        display: none;
    }
}

@keyframes find-me-in {
    to {
        margin-left: 0;
    }
}

#home-info-header {
    animation-name: home-header;
    animation-duration: 3s;
    position: relative;
}

@keyframes home-header {
    from {
        right: 100vw;
        top: 0px;
    }

    to {
        right: 0px;
        top: 0px;
    }
}

#tag-line {
    animation-name: home-tag-line;
    animation-duration: 3s;
    position: relative;
}

@keyframes home-tag-line {
    from {
        left: 100vw;
        top: 0px;
    }

    to {
        left: 0px;
        top: 0px;
    }
}

#nav-in {
    animation-name: nav-in;
    animation-duration: 3s;
    position: relative;
}

@keyframes nav-in {
    from {
        top: -100vh;
    }

    to {
        top: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .project-img {
        width: 40vw;
        height: 40vh;
        background-image: url('../images/website.png');
        background-size: cover;
        margin: 0 0 0 5vw;
    }
}


.project-discription {
    width: 30vw;
    height: 12vh;
    background-color: #a50021;
    margin: 10vh 0 0 35vw;
    border-radius: 10px;
}

@media screen and (max-width: 1400px) {
    .website-tech {
        display: none;
    }
}

.project-technologies {
    width: 30vw;
    height: 2vh;
}

.project-header {
    height: 10vh;
    width: 65vw;
}

.project-links {
    height: 5vh;
    width: 65vw;
    margin: 27vh 0 0 0;
}

#projects-link {
    margin-bottom: 20vh
}

    .project-quick-look-hidden p {
        color: black;
    }

    .project-quick-look:hover {
        opacity: 1;
        box-shadow: inset 1px 0em 3em rgba(0, 0, 0, 0.1), 0px 2px 20px 0px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }

.project-hr {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 5%;
}

#contact-link {
    margin-bottom: 5vh;
}

Admin styling
a:hover {
    color: white;
    text-decoration: none;
}

.admin-logout {
    margin-left: 90vw;
    width: 5%;
    border: solid red 2px;
    border-radius: 10px;
    text-align: center;
}

    .admin-logout:hover {
        background-color: red;
        color: black;
    }

form.admin-logout-form {
    text-align: center;
}

#admin-logout-btn {
    background: transparent;
    border: 0;
    color: white;
    font-size: 1rem;
    padding: 15%;
    border-radius: 10px;
}

.site-logo {
    font-size: 2rem;
    margin-left: calc(50% - 3rem);
}

    .site-logo:hover {
        text-decoration: none;
    }


@keyframes link-hover {
    0% {
        color: red;
    }

    50% {
        color: white;
        font-weight: 600;
    }

    100% {
        color: red;
    }
}

.search-input {
    width: 50vw;
    margin-left: 40vw;
    margin-bottom: 5vh
}

#search-for-message {
    background-color: black;
    color: white;
    border: 1px solid red;
    height: 5vh;
}

.mail-to:hover {
    color: red;
    text-decoration: none;
}

.message-editing {
    width: 80vw;
    margin-bottom: 5vh;
    margin-left: 10vw;
}

.details-hr {
    border: red solid 2px;
}





login styling

#login-heading {
    text-align: left;
    color: rgba(7, 68, 148, 1);
    animation-name: text-reveal;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.login-focus {
    background-color: rgba(7, 68, 148, 1);
    animation-name: login-focus;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes login-focus {
    0% {
        background: rgba(7, 68, 148, 1);
        border-radius: 40px
    }

    10% {
        background: rgba(7, 68, 148, 1);
        border-radius: 40px
    }

    100% {
        background: rgba(7, 68, 148, 0.16);
        border-radius: 50px
    }
}

Create Account Styling


.create-account-form span {
    color: white;
}

    .create-account-field:hover {
        border: 1px solid red;
    }

.create-account-label {
    margin-top: 2%;
}
