<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KalPortfolio</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <link href="~/css/site.css" rel="stylesheet" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
       @* <script type="text/javascript">
            $(document).ready(funciton())
            {
                pageLoadAnimations()
      
            }

            function pageLoadAnimations()
            {
                document.querySelector(username)
            }
        </script>*@
    </head>
    <body class="login">
        <div class="login-focus">
        
            <div class="login-form">

                <div id="login-welcome">
                    <h1 id="login-heading"><b>Welcome!</b></h1>
                    <p class="reveal">Please login or create an account.</p>
                </div>
                
                    
 
                <form method="post">

                    <div class=row>
                        <div class="col-12">
                            <label for="username" class="login-label">Username</label>
                            <input type="text" id="username" name="username"  />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="password" class="login-label">Password</label>
                            <input type="text" id="password" name="password"  />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Login" id="login"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button class="create-account" href="/CreateAccount/Index" type="button" aria-label="Go to the account creation page.">Create Account</button>
                        </div>
                    </div>
                </form>
            </div>
            
               
                
            
        </div>
    </body>

</html>
