@model KalPortfolio.Models.UserLoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KalPortfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        function createAccountBtn(){
            location.href = '/Login/CreateAccount';
        }

    </script>

</head>
<body class="login">
    <section>
        <div class="login-focus">            
            <div class="row">                
                <div asp-action="login" class="login-form">                      
                    
                    <div class="login-Heading">
                        <p class="display-3">Welcome!</p>
                    </div>

                    <form action="/Login/Login" method="post">
                        <div class="row">
                            <label class="login-label">Username</label>
                            <input type="text" name="Username" id="username" placeholder="Username" required  onclick="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Your username is incorrect')" />
                        </div>
                        <div class="row">
                            <label class="login-label">Password</label>
                            <input type="password" name="Password" id="password" placeholder="Password" required  onlcick="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Your password is incorrect')" />
                        </div>
                        <div>
                            <input type="hidden" name="ReturnUrl" id="returnurl" value="@Model.ReturnUrl"/>
                        </div>
                        <div class="row">
                            <input type="submit" id="login" placeholder="Login" />
                        </div>
                        <div class="row">
                            <input type="button" onclick="createAccountBtn()" id="create-account" value="Create Account" />
                        </div>
                    </form>

                </div>                                   
            </div>          
        </div>
        @*<div>
            <div class="rect-1"></div>
            <div class="rect-2"></div>
            <div class="rect-3"></div>
            <div class="triangle-1"></div>
            <div class="triangle-2"></div>
        </div>*@
    </section>
</body>
</html>
