@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model KalPortfolio.Models.UserLoginModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Login";
    ViewBag.Description = "Login or create an account for Kalkidans website here.";
    ViewBag.background = "login";
}

@section body {
   
    <div class="container mt-5">
        <div class="row py-sm-5 my-sm-5 mt-4">
            <div class="login-focus col-xxl-5 col-lg-6 col-sm-12 col-md-10">

                <h1 class="d-flex justify-content-center mt-5">Welcome!</h1>

                <div class="row mx-5">
                    <div class="col-12">
                        <form asp-action="Login" asp-controller="Login" method="post" class="mx-lg-4">
                            @Html.AntiForgeryToken()
                            <div class="row mt-5">
                                <label class="login-label" for="Username">Username</label>
                                <input type="text" class="login-input py-3 " required="" data-val="true" data-val-required="The Username field is required." id="Username" name="Username" value="">
                                <span class="text-danger field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                            </div>

                            <div class="row mt-5">
                                <label class="login-label " for="Password">Password</label>
                                <input type="password" class="login-input py-3" required="" data-val="true" data-val-required="The Password field is required." id="Password" name="Password">
                                <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>

                            <div>
                                <input type="hidden" id="returnurl" name="ReturnUrl" value="">
                            </div>

                            <div class="row my-5 pb-5">
                                <button type="submit" class="py-3" id="login" placeholder="Login">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
   
